<!DOCTYPE html>
<html lang='ja'>
<head>
  <meta charset='UTF-8' />
  <title><%= @head_title %></title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
	<header>
		<div class="inner">
			<div class="logo">
				<a href="http://conductor.hajipion.com/" target="_blank">
					<img src="img/logo.png" alt="Counductor">
				</a>
			</div>
            <div class="head-link" style="float: right;margin-top: 20px;">
              <span style="padding: 3px;margin-right: 10px;"><a href="http://210.140.146.101/search">検索履歴</a></span>
              <span style="padding: 3px;"><a href="http://210.140.146.101/wish">ウィッシュリスト</a></span>
            </div>
		</div>
	</header>
    <%= yield %>
</body>
</html>