<div class="search">
  <h2>Browsing history on Counductor</h2>
  <% if @records.present? %>
  <ul class="item-frame">
    <% @records.each do |record| %>
      <li class="item">
        <div class="image-frame">
          <img src="<%= record['img'] %>">
        </div>
        <div class="detail-frame">
            <span class="word"><%= record['word'] %></span><br>
            <span class="title">「<%= record['title']%>」より</span>
            <span class="created-date"><%= record['created_at'].localtime.strftime("%Y/%m/%d %H:%M:%S") %></span>
        </div>
      </li>
    <% end %>
  </ul>
  <% else %>
      <h2>検索履歴が1つもありません</h2>
  <% end %>
</div>