<div class="search">
  <ul class="item-frame">
    <% @records.each do |record| %>
      <li class="item">
        <div class="image-frame">
          <img src="<%= record['img'] %>">
        </div>
        <div class="detail-frame">
            <span class="word"><%= record['word'] %></span>
            <span class="title"><%= record['title']%></span>
            <span class="craeted-date"><%= record['created_at'].localtime %></span>
        </div>
      </li>
    <% end %>
  </ul>
</div>